// All 
*{
    font-family: 'Segoe UI Regular';
    scroll-behavior: smooth;
}

// TITLES
h2{
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

hr{
    width: 45px;
    height: 2px;
    margin: 0 0 45px 0;
}


// GLOBAL CONTENT

// SECTIONS 
section {
    padding: 80px 0;
}
