#presentation{
    background: url('../img/presentation.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    hr{
        background-color: white;
    }
    p{
        margin-bottom: 35px;
    }
}