#services{
    background-color: #4bcaff;
    color: white;
    hr{
        background-color: white; 
    }
    figure{
        margin-bottom: 1.5rem;
    }
    h3{
        text-transform: uppercase;
        margin-bottom: 0.7rem;
    }
    p{
        font-size: 12px;
        font-weight: 400;
    }
}