#testimonials{
    color: #515f67;
    hr{
        background-color: #515f67;
    }
    p{
        font-size: 28px;
        line-height: 50px;
        font-weight: 300;
    }
    .author{
        font-size: 14px;
        font-family: 'Segoe UI Bold';
        color: #4bcaff
    }
}