#twitter{
    background-color: #4bcaff;
    color: white;
    hr{
        background-color: white;
    }
    span{
        font-family: 'Segoe UI Bold';
    }
    p{
        font-size: 28px;
        line-height: 50px;
        font-weight: 200;
    }
}